apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-service
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: {{ .Values.port }}
  selector:
    app: {{ .Release.Name }}